<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your Name</label>
    <input type="text" [(ngModel)]="formModel.name" class="form-control" name="name" placeholder="Your Name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Quote</label>
    <textarea class="form-control" [(ngModel)]="formModel.quote" name="quote" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Quote Author</label>
    <input type="text" [(ngModel)]="formModel.author" class="form-control" name="author" placeholder="Quote Author">
  </div>
  <button (click)="submitForm()" type="button" class="btn btn-success">Submit</button>
</form>
