  <div class="container-fluid">
    <h2 class="heading">Add Quote</h2>
  <form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your Name</label>
    <input type="text" [(ngModel)]="formModel.name" required class="form-control" id="name" placeholder="Your Name">
    <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
      <div *ngIf="name.errors.required">
          Your name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        Name is at least 3 characters long.
      </div>
    </div> 
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Quote</label>
    <textarea class="form-control" [(ngModel)]="formModel.quote" name="quote" id = "exampleFormControlTextarea1" rows="3"></textarea>
    <div *ngIf="quote.invalid && quote.dirty" class="alert alert-danger">
      <div *ngIf="quote.errors.required">
          Quote can not be empty.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Quote Author</label>
    <input type="text" [(ngModel)]="formModel.author" required class="form-control" id="author" placeholder="Quote Author">
    <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
      <div *ngIf="title.errors.required">
          Author Name is required.
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-sucess"> Add Quote</button>
  </form>
  </div>
